body {
  background-color: #EEEEE4;
  color: #452A21;
  line-height: 1.6;
  font-size: 19px;
  width: 750px;
  margin: auto;
  margin-top: 100px;
}
ul {
  list-style-type: none;
}
a {
  color: #1A7FAD;
}
code, blockquote {
  margin: 0;
  padding: 0;
}
pre {
  margin: 0;
  padding: 4px;
  background-color: #FAE8B6;
  white-space: pre-wrap;
}
